<section class="products-grid color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="page-width">
    <h2 class="text-center mb-4">{{ section.settings.heading }}</h2>
    {% if section.settings.collection %}
    <div class="row">
      
        {% assign collection_handle = section.settings.collection | handle %}
        {% assign collection = collections[collection_handle] %}
        {% if collection.products.size > 0 %}
          
          {% for product in collection.products limit:visible_products %}
            <div class="col-6 col-md-4 col-lg-4 mb-4">
              {% render 'card-product', card_product: product, section_id: section.id %}
            </div>
          {% endfor %}
          
        {% else %}
          <p>No collection selected. Please select a collection in the section settings.</p>
        {% endif %}
    </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Products grid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Featured Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products grid"
    }
  ]
}
{% endschema %}
