.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.card__media {
  position: relative;
  width: 100%;
  height: 300px; /* Ensure consistent height */
  overflow: hidden;
}

.card__media .media img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keep images proportional and consistent */
  object-position: center;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.primary-image {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.secondary-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__media:hover .primary-image {
  opacity: 0;
}

.card__media:hover .secondary-image {
  opacity: 1;
}

.card__content {
  padding: 1rem;
  text-align: center;
}

.card__heading {
  margin: 0.5rem 0;
  font-weight: 600;
}

.card__information {
  padding: 1rem;
}

.primary-image,
.secondary-image {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.secondary-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card__media:hover .primary-image {
  opacity: 0;
}

.card__media:hover .secondary-image {
  opacity: 1;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .card__media {
    height: 200px; /* Adjust for smaller screens */
  }
}
